* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
html, body {
	width: 100%;
	height: 100%;
}
#header {
	position: fixed;
	width: 100%;
	height: 50px;
	background: #24292f;
	z-index:100;
}
#header div {
	position: relative;
	display: inline-block;
	color: white;
	font-size: 20px;
	top: -15px;
}
#header #logo {
	color: white;
	fill: currentColor;
	margin:8px 40px;
}
#left {
	position: fixed;
	top: 72px;
	left: 20px;
	width: 272px;
}
#content {
	position: absolute;
	margin-top: 72px;
	margin-left: 302px;
	margin-right: 20px;
}
#avatar {
	width: 260px;
	height: 260px;
	border-radius: 50%;
}
#name, #welcome {
	font-size: 26px;
	line-height: 1.25;
	font-weight: 600;
	margin-top: 15px;
}
#nickname {
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: 24px;
	color: #57606a;
}
#description {
	font-size: 16px;
	line-height: 1.5;
	margin-top: 20px;
}
#location {
	margin-top: 20px;
}
#email, #repo {
	margin-top: 10px;
}
#repo .counter {
	background-color: rgba(175,184,193,0.2);
	margin-left: 4px;
	padding: 0 6px;
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
	border: 1px solid transparent;
	border-radius: 2em;
	box-sizing: border-box;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
#email a, #repo a {
	text-decoration: none;
	color: black;
}
#location, #email, #repo {
	font-size: 14px;
	white-space: nowrap;
	text-align: -webkit-match-parent;
}
#location svg ,#email svg, #repo svg {
	margin-bottom: -3px;
	color: #57606a;
	fill: currentColor;
}
#welcome {
	margin-bottom: 10px;
}
#content .block {
	border: 1px solid #d0d7de;
	border-radius: 6px;
	padding: 16px;
	box-sizing: border-box;
	margin-bottom:15px;
}
#content .block .block-caption {
	margin-bottom:10px;
}
#content .block .block-caption a {
	font-weight: 600;
	color: #0969da;
	text-decoration: none;
	font-size: 14px;
	line-height: 1.5;
}
#content .block .block-caption a:hover {
	text-decoration: underline;
}
#content .block .block-description {
	font-size: 12px;
	line-height: 1.5;
	color: #57606a;
}
#content .block .block-description h3 {
	color: black;
}
#content .block .block-description {
	line-height: 1.8;
}
#content .block .block-description .details {
	display:inline-block;
	background: #f6f8fa;
	border: 1px solid #d0d7de;
	padding: 6px 20px;
	color: black;
	text-decoration: none;
	border-radius: 6px;
	margin-top:10px;
	font-size: 14px;
}
#content .block .block-description .details:hover {
	text-decoration: underline;
	border: 1px solid #d0d7de;
}
@media (max-width: 720px) {
	#left, #content {
		position: relative;
		width: auto;
		left: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: 10px;
		margin-right: 10px;
	}
	#left {
		top: 60px;
	}
	#content {
		padding-bottom: 1px;
	}
	#avatar {
		width: 120px;
		height: 120px;
		border-radius: 50%;
	}
	#name-block {
		display: inline-block;
		position: absolute;
		margin-left: 20px;
		top: 20px;
	}
}