* {
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	height: 100%;
}
body {
	text-align: center;
}
#main-container {
	display: table;
	margin: auto;
	max-width: 900px;
	width: 100%;
	width: calc(100% - 2px);
	height: 100%;
	background: #f6f8fa;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
#caption-container {
	height: 48px;
}
#caption {
	padding: 10px 0;
	border-bottom: 1px solid black;
}
#chat-container{
	height: 80%;
}
#chat {
	width: 100%;
	height: 100%;
	background: white;
	overflow-y: scroll;
	border-bottom: 1px solid black;
}
#chat #connect-button {
	position: relative;
	top: 50%;
}
#chat>div {
	display: list-item;
	list-style-type: none;
}
#chat>div>div {
	margin:5px;
	padding:5px 10px;
	text-align: left;
	border-radius: 10px;
	background: #ddd;
	word-wrap: break-word;
	word-break: break-all; 
}
#chat .n {
	background: #cae6fc;
}
#chat .w {
	background: #fcdeca;
}
#chat .e {
	background: #fccaca;
}
#chat .mt{
	float:right;
	width:70%;
}
#chat .mr{
	float:left;
	width:70%;
}
#chat .cb:after {
	content: "";
	clear: both;
	display:table;
}
#chat .time {
	display: inline;
	float: right;
	font-size: 8pt;
	margin-top:5px;
}
#chat .keys {
	display: inline;
}
#panel-container {
	width: 100%;
	height: 114px;
}
#panel {
	display: table;
	max-width: 540px;
	width: 100%;
	text-align: left;
}
#panel>div {
	display: table-row;
}
#panel>div>div {
	display: table-cell;
	padding: 5px 10px;
}
#panel input {
	padding: 3px;
	min-width:90px;
	max-width:160px;
	width:100%;
}
#panel a, #chat #connect-button, .chat-button {
	display: inline-block;
	padding: 3px 12px;
	width: auto;
	background: white;
	color: black;
	text-decoration: none;
	border: 1px solid #666;
	border-radius: 6px;
}
#chat #connect-button, .chat-button {
	background: #f6f8fa;
}
#panel a, #chat #connect-button {
	width: 120px;
}
#panel a:hover, #chat #connect-button:hover {
	background: #ddd;
}
#panel .random {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-left: -25px;
	margin-right: -25px;
	margin-bottom: -5px;
	background: url(../img/random.png) no-repeat;
	background-size: 20px;
	cursor: pointer;
}
#text {
	width: 100%;
	height: 100%;
	height: calc(100% - 2px);
	border: 0;
	resize: none;
	border-top: 1px solid black;
}
#text:hover,
#text:focus,
#text:active {
	outline: 0;
}
#text-container{
	position:relative;
	height: 100%;
}
#text-container #enter {
	position: absolute;
	bottom: 0;
	right: 5px;
	width: 25px;
	height: 25px;
	background: url(../img/enter.png) no-repeat;
	background-size: 25px;
}
#caption-container, #chat-container, #panel-container, #text-container {
	display: table-row;
	width: 100%;
	margin: 0;
	padding: 0;
}